<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="footer__widget">
                  <div class="footer__logo">
                      <a routerLink="/"><img src="../../../assets/yey.jpg" width="150px" height="100px" alt="Logo"></a>
                  </div>
                  <br>
                  <p class="footer__about-text">Le client est au cœur de notre modèle d'entreprise unique, qui inclut la conception.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="footer__widget">
                  <h6>Menu</h6>
                  <ul>
                      <li><a href="/homeadmin">Accueil</a></li>
                      <li><a routerLink="/deconnecter">deconnexion</a></li>
                      
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer__widget">
                  <h6>Newsletter</h6>
                  <div class="footer__newslatter">
                      <p>Restez informé sur les dernières nouveautés, collections, promotions et plus encore !</p>
                      <form action="#">
                          <input type="email" placeholder="Votre email">
                          <button type="submit" class="site-btn"><span class="icon_mail_alt"></span>S'inscrire</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <p>&copy; 2024 Tous droits réservés à MY-SHOP</p>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Section End -->
