<div class="header">
  <div class="header__logo">
    <img src="../../../assets/yey.jpg" alt="hethy" width="95px" >
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a routerLink="/homeuser" class="navbar__link home-link"><i data-feather="home"></i><span>Accueil</span></a>
      </li>
      <li class="navbar__item">
        <a routerLink="/aboutus" class="navbar__link about-link"><i data-feather="info"></i><span>A propos de nous</span></a>
      </li>
      <li class="navbar__item">
        <a routerLink="/ajoutercontact" class="navbar__link contact-link"><i data-feather="mail"></i><span>Contactez-nous</span></a>
      </li>
      <li class="navbar__item">
        <a routerLink="/annonce" class="navbar__link contact-link"><i data-feather="mail"></i><span>Mes annonce</span></a>
      </li>
      <li class="navbar__item">
        <a (click)="logOut()" routerLink="" class="navbar__link contact-link"><i data-feather="mail"></i><span>Déconnexion</span></a>
      </li>


    </ul>
  </nav>
</div>




