<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



	</head>
	<body>

    <app-header-user></app-header-user>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url(../../../assets/contactus1.jpg);">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch with us</h3>
									<div id="form-message-warning" class="mb-4"></div>
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form #contactForm="ngForm" (ngSubmit)="onAddContact(contactForm)">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name"> Name</label>
													<input type="text" class="form-control" ngModel id="nom" name="nom" class="form-control" placeholder="Name" required >
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="prenom">Prénom :</label>
                                    <input type="text" ngModel id="prenom" name="prenom" class="form-control" required></div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
                          <label for="phone">Numéro de Téléphone :</label>
                          <input type="tel" id="phone" ngModel name="phone" class="form-control" required pattern="[0-9]*"></div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea id="message" ngModel name="message" rows="4" class="form-control" required></textarea></div>
											</div>
                      <br>
											<div class="col-md-12">
												<div class="form-group" style="text-align: center;">
													<button type="submit" class="btn btn-primary" >send</button><div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <app-footer-user></app-footer-user>

	</body>
</html>

