<app-header-user></app-header-user>

<div class="container">
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
    <img class="mx-auto pic" src="../../../assets/3-girls.jpg"/>
    <div class="card-title d-flex px-4">
      <p class="item text-muted">offre special</p>
      <p>200 DT</p>
    </div>
    <div class="card-body">
      <h5 class="text-muted">Details de paiment pour Booster votre produit</h5>
      <div class="numbr mb-3">

        <input id="fullName" class="col-10 p-0" type="text" placeholder="Full Name">

      </div>
      <div class="numbr mb-3">

        <input id="cardNumber" class="col-10 p-0" type="text" placeholder="Card Number">

      </div>
      <div class="line2 col-lg-12 col-12 mb-4">

        <input id="expiryDate" class="cal col-5 p-0" type="text" placeholder="MM/YY">


        <input id="cvc" class="cvc col-5 p-0" type="text" placeholder="CVC">

      </div>
    </div>
    <div class="footer text-center p-0">
      <div class="col-lg-12 col-12 p-0">
        <button class="order" (click)="submitPayment()">Boost Product</button>
      </div>
    </div>
  </div>
</div>
