body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

app-user-nav-bar {
  display: block;
  margin-bottom: 20px;
}

h2 {
  color: #cd9064;
  text-align: center;
  margin-bottom: 40px;
}

.table-container {
  max-height: 500px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}


.table th,
.table td {
    border: 2px solid #ddd; /* Augmentez l'épaisseur des bordures */
    padding: 15px;
    text-align: left;
}

.table th {
    background-color: #db9e34;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #ecf0f1;
}


.product-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
}

.fa {
  cursor: pointer;
  font-size: 18px;
  color: #e74c3c;
}

.fa-edit {
  color: #2ecc71;
  margin-left: 10px;
}

.form-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 15px;
  margin-right: 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.edit-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-image-container {
  margin-bottom: 20px;
}

.product-image {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  object-fit: cover; /* Keeps aspect ratio and fills the space */
}

.edit-product-form {
  width: 500px; /* Adjust as needed */
  max-width: 80%; /* Responsive width */
}

.form-group {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

/* Add more styles as needed for form elements, colors, etc. */
